table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate; /* Cambiado a 'separate' para que el border-radius funcione */
    border-spacing: 0; /* Elimina los espacios entre celdas */
    border: 1px solid #000; /* Añade un borde a toda la tabla */
    border-radius: 10px; /* Bordes redondeados en la tabla */
    overflow: hidden; /* Para que el contenido respete los bordes redondeados */
}

th, td {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #000; /* Añade bordes a cada celda */
}

thead {
    background-color: #FBF1D0;
    color: #000;
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
}

tbody tr:nth-child(even) {
    background-color: #FFF7CC;
}

tbody tr:nth-child(odd) {
    background-color: #FFF2B3;
}

button {
    font-size: 10px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #000; /* Bordes a los botones */
    border-radius: 5px; /* Bordes redondeados para los botones */
}

.modal-content {
    border-radius: 15px; /* Bordes redondeados para el modal */
}

.error {
    background-color: red;
    border-radius: 5px; /* Bordes redondeados para el mensaje de error */
}
