.error {
    color: red;
}
.celda-header {
    border: thin solid;
    background: lightblue;
}
.bloque {
    border: thin solid;
}
.bloque-libre {
    background: lightgreen;
}
.bloque-reservado {
    background: pink;
}