body {
    /* background: #000; */
    background: whitesmoke;
}
.card {
    background: white;
    /* border: none; */
    height: auto;
}
.forms-inputs {
    position: relative;
}
.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    /* border: 2px solid whitesmoke; */
    border-radius: 10px;
}
.forms-inputs input {
    height: 50px;
    border: 2px solid #eee;
}
.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000;
}
.btn-login {
    height: 50px;
    background: #edb01c;
    font-weight: bolder;
}
.btn-insti {
    height: 50px;
    background: #dc2626;
    color: white;
    font-weight: bolder;
}
.success-data {
    display: flex;
    flex-direction: column;
}
.logo {
    width: 80px;
    padding-bottom: 40px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: 0.25em;
}

.separator:not(:empty)::after {
    margin-left: 0.25em;
}
.dia {
    background: #edb01c;
}
